# Data Validation Project

In [7]:
import pandas as pd, numpy as np
import os

os.chdir("C:/Users/zak/Projects/PycharmProjects/data-science/")
from utils import setup_project_root

setup_project_root()

Location = pd.read_excel("data/Farm_Data.xlsx", sheet_name='Location').drop('Unnamed: 0', axis=1)

def check_missing(value):
    if pd.isna(value):
        return 'Data is missing'
    else:
        return 'OK'
    
Location['Missing County'] = Location['county'].transform(check_missing)

Location['Missing County'].value_counts()

Missing County
OK    701
Name: count, dtype: int64

In [8]:
YEAR_FILTER = [2025]
year_filter = 2025

In [9]:
Location

,username,MF_ID,FarmID,name,lat,lng,country,zipCode,county,city,type,street1,Reseller,Missing County
0,analytics@xfarm.ag,647,316279,Farmer316279,-54.770594,-54.770594,Brasile,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Diretos,OK
1,analytics@xfarm.ag,647,563961,Farmer563961,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 1,OK
2,analytics@xfarm.ag,647,563973,Farmer563973,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 1,OK
3,analytics@xfarm.ag,647,563975,Farmer563975,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 1,OK
4,analytics@xfarm.ag,647,563977,Farmer563977,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 1,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,analytics@xfarm.ag,647,832389,Farmer832389,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK
697,analytics@xfarm.ag,647,771713,Farmer771713,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK
698,analytics@xfarm.ag,647,833768,Farmer833768,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK
699,analytics@xfarm.ag,647,833769,Farmer833769,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK
700,analytics@xfarm.ag,647,833772,Farmer833772,-54.770594,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK

In [13]:
master_ids = pd.read_excel("data/Farm_Data.xlsx", sheet_name='Master')['Farm_ID'].values
location_ids = Location['FarmID'].values
number_of_mismatched_ids  =len(set([farm_id for farm_id in master_ids if farm_id not in location_ids]))

In [15]:
Location
states = ["Mato Grosso do Sul", "Mato Grosso", "Bahia", "São Paulo", "Paraná",
"GOIÁS", "PIAUÍ", "TOCANTINS", "Maranhão", "Minas Gerais","Rio Grande do Sul"]
lower_case_states = [state.lower() for state in states]
master = pd.read_excel(r"data\Farm_Data.xlsx", sheet_name='Master')

master_export = pd.merge(master, Location, how='left', left_on='Farm_ID', right_on='FarmID', suffixes=['Master', 'Location'])
master_export

def verify_county(value):
    if pd.isna(value):
        return 'Missing'
    elif value.lower() not in lower_case_states:
        return 'Wrong Entry'
    else:
        return 'OK'
    
master_export['Check County'] = master_export['county'].transform(verify_county)

In [16]:
master_export

,Unnamed: 0,Parent_ID,Multifarm_ID,Farm_ID,Farm_name,Field_size,Farm_type,ResellerMaster,username,MF_ID,...,lng,country,zipCode,county,city,type,street1,ResellerLocation,Missing County,Check County
0,0,344243,647,759250,Farmer759250,268.485800,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
1,0,344243,647,759250,Farmer759250,268.485800,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
2,0,344243,647,759250,Farmer759250,268.485800,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
3,0,344243,647,759250,Farmer759250,268.485800,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
4,1,344243,647,782751,Farmer782751,463.158657,NaN,Revenda 3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,670,344243,647,777604,Farmer777604,57.564184,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
792,670,344243,647,777604,Farmer777604,57.564184,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
793,671,344243,647,812996,Farmer812996,1753.694520,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
794,672,344243,647,821020,Farmer821020,391.336500,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK
795,673,344243,647,759208,Farmer759208,450.176600,NaN,Revenda 2,analytics@xfarm.ag,647.0,...,-54.770594,Brasil,NaN,Mato Grosso do Sul,Bonito,operative,NaN,Revenda 2,OK,OK

In [21]:
activites = pd.read_excel(r"data\Farm_Data.xlsx", sheet_name='Activity')

ValueError: Worksheet named 'Activity' not found

In [17]:
REQUIRED_COLUMNS_ACT = ['FarmID', 'FieldID', 'Field_name', 'cropID', 'year','NomeFazenda', 'NomeGrupo','NomeCultura', 'AreaCultura', 'Reseller']

In [18]:
activites.duplicated()

NameError: name 'activites' is not defined

In [22]:
REQUIRED_COLUMNS_ACTIVITY = ['FarmID', 'FieldID', 'cropID', 'AnoSafra', 'type', 'w_ha', 'AtividadeRealizada?', 'activity_date','activityID', 'NomeFazenda', 'NomeCultura', 'NomeGrupo', 'notes']

In [23]:
desired_activity_types = ['seeding', 'feeding', 'defending', 'harvesting']

for

In [ ]:
# inside vs outside for column names
# pull types is the function for transform