# Intro to Classification

In [24]:
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression

In [46]:
from itertools import count

# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
import pandas as pd
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "customer_churn_dataset-testing-master.csv"

# Load the latest version
df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "mohamed444ashraf/customer-churn-data",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...
64369,64370,45,Female,33,12,6,21,Basic,Quarterly,947,14,1
64370,64371,37,Male,6,1,5,22,Standard,Annual,923,9,1
64371,64372,25,Male,39,14,8,30,Premium,Monthly,327,20,1
64372,64373,50,Female,18,19,7,22,Standard,Monthly,540,13,1
64373,64374,52,Female,45,15,9,25,Standard,Monthly,696,22,1

In [26]:
# Separate the target variable from everything else
X_train, y_train = df.select_dtypes("number"), df.Churn

In [39]:
# Using 10,000 iter because I got a warning that the model hadn't converged with lower numbers.
log_r_model = LogisticRegression(max_iter=10000).fit(X_train, y_train)

In [40]:
log_r_model.predict(X_train)

array([1, 0, 0, ..., 1, 1, 1], shape=(64374,))

In [41]:
y_pred = log_r_model.predict(X_train)

print("Prediction on training set:", y_pred)
print("Accuracy on training set:", log_r_model.score(X_train, y_pred))

Prediction on training set: [1 0 0 ... 1 1 1]
Accuracy on training set: 1.0